.home,
.groups,
.base-page {
  .table-header {
    margin-inline-end: rem(45px);
    margin-bottom: vh(20px);
    h1 {
      margin-top: 36px;
      font-family: 'Assistant';
      font-style: normal;
      font-weight: 700;
      font-size: 36px;
      text-align: right;
      color: #d77804;
    }

    .search {
      margin-inline-start: vh(28px);
      width: 172px;
      height: 40px;
      padding: vh(10px) vh(13px) vh(10px) vh(8px);
      cursor: pointer;
      position: relative;
      display: flex;
      align-self: center;
      background: #edf7fd;
      border-radius: 4px;
      transition: 0.4s;
      &:hover,
      &:active {
        border: #33b1ff 0.5px solid;
      }
      label {
        height: vh(20px);
        cursor: pointer;

        svg {
          height: vh(20px);
          width: vh(20.43px);
        }
      }
      input {
        font-family: Assistant-Reg;
        width: 100%;
        margin-inline-start: vh(14px);
        line-height: vh(20px);
        height: vh(20px);
        font-size: vh(20px);
        background-color: transparent;
        border: none;
        cursor: pointer;
        &:focus {
          outline: none;
        }
        &::-webkit-search-cancel-button {
          -webkit-appearance: none;
        }
      }
      // .clear-btn {
      // 	height: vh(20px);
      // 	width: vh(30px);
      // 	border-radius: 50%;
      // 	opacity: 0;
      // 	svg {
      // 		height: vh(15px);
      // 		width: vh(12px);
      // 	}
      // 	&.show {
      // 		opacity: 1;
      // 	}
      // }
    }

    .header-btns {
      gap: vh(58px);
      button {
        display: flex;
        align-items: center;
        justify-content: center;
        height: vh(56px);
        width: vh(75px);
        background-color: $lightBg;
        border-radius: vh(6px);
        &:hover {
          background-color: $hoverBg;
        }
        &.export svg {
          height: vh(40px);
          width: vh(40px);
        }
        &.add-new svg {
          height: vh(50px);
          width: vh(50px);
        }
      }
    }
  }
}

.base-page {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 80px);
}
.actions {
  display: flex;
  width: 97%;
}

.MuiList-root {
  .Mui-disabled {
    color:rgb(38, 144, 165);
    opacity: 100% !important;
    font-style: italic;
  }
}

/*.MuiButtonBase-root {
  color:rgb(168, 244, 252) !important;
  height:80px;
  width: 80px;
  
}*/
.circle-approve {
  color: rgb(146, 206, 127);
  font-size: 25px;
  
  /*height: 30px;
  width: 30px;
  background-color: rgb(146, 206, 127);*/

}

.approve-hours {
  display: flex;
  flex-direction: row;
  gap:10px;
}

.approve-hours-btn {
  border-radius: 5px;
  padding: 7px;
  background-color: rgb(208, 235, 208);
  color: #646363;
    font-weight: 600;
}
.approve-hours-btn:hover {
  padding: 9px;
  background-color: rgb(152, 208, 152);
}
