.volunteer-report {
    margin-top:15px !important;
    //border-radius: 10px;
    display: flex;
    justify-content: center;
    width:390px;
    //height: 100vh;
    margin: auto;
    font-family: Rubik-Regular;

    .logo-img {
        height: 224px;
        width: 326px;
        position: absolute;
        top: 1%;
    
        .logo-mobile {
            width:100%;
            position: absolute;
            left: 8%;
           // object-fit: cover;

        }
    }

    .header {
        font-size:24px;
        font-family: Rubik-Bold;
        line-height: 28.44px;
        color:#2A526F;
        padding-top: 70px;
        position: absolute;
        top: 30%;
    }

    .report-form {
        position: absolute;
        bottom: 0%;
        background-color:#EDF7FD;
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;
        height: 47%;
        width: inherit;
        display: flex;
        justify-content: center;

        .report-program{
            margin-top: 20px;
            font-family: Rubik-Regular;
            color: #D77804;
        }

        .report-btn {
            border-radius: 50%;
            background-color: #92CE7F;
            width:136px;
            height: 136px;
            align-self: center;
            color:white;
            font-family: Rubik-Bold;
            font-size: 24px;
            position: absolute;
            top: 21%;
        }
 
        .report-text {
        color:#2A526F;
        font-size: 12px;
        position: absolute;
        bottom: 30%;
        }

        #timepicker:before {
            // content: 'Time:';
            margin-right: .6em;
            color: #9d9d9d;
         }

         
        .confirm-btn {
            width: 85%;
            height: 50px;
            background-color: #D77804;
            color: #F6FBFE;
            position:absolute;
            top: 64.6%;
            border-radius: 8px;
            font-family: Rubik-Bold;
            font-size: 24px;
        }

        .confirm_cancel_addtime{
            display: flex;
            gap:20px;
            position:absolute;
            top: 64.6%;
         }

        .back-btn{
            width:120px;
            height: 50px;
            padding: 10px;
            background-color: #D77804;
            color: #F6FBFE;
            border-radius: 8px;
            font-family: Rubik-Bold;
            font-size: 24px;
            line-height:1.1em;
            text-align:center;
        }
        .hours {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 80%;
            position: absolute;
            top: 43%;
            right: 10%;
            font-size: 16px;
            color: #386C92;

            .start-hour-text {
                color: #92CE7F;
                font-weight: 700;
                line-height: 23px;
            }
            .end-hour-text {
                color: #C87575;
                font-weight: 700;
                line-height: 23px;
            }
        }

        input {
            height:32px;
            width: 148px;
            border:none;
            border-radius: 4px;
            font-size: 16px;
            font-family: "Rubik-Regular";
            color: #386C92;
        }
        .input-date {
            display: flex;
            flex-direction: column;
            position:absolute;
            top:23.5%;
            right: 10%;
            gap: 4px;
            font-size: 16px;
            color: #386C92;
        }
    }


}

.volunteer-user {
    position: fixed;
    bottom: 0px;
    width: inherit;
    margin: auto;
}

    