.Approved-hours {
    font-family: Assistant-Reg;
    table {
        width: 100%;
    
    tbody {
        background-color: white;
        //width: 100%;
        td {
            button {
                color: #2A526F;
                font-size: 12px;
            }
        }
    }
}
}