/** CSS Variables */
.innerBox{
  //border: 2px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px 10px;
  font-size: 16px;
  font-family: Rubik-Regular;
  color: #2A526F;

.mid_innerBox{
  width: 34%;
  border-radius: 8px;

}

.general-box1{
  height: 351px;
  width: 32%;
  background-color: white;
  border-radius: 8px;
  margin: 0px 8px;
}

.general-box2{
  display: flex;
 gap: 20px;
  height: 40px;
  width: 100%;
  background-color: white;
  border-radius: 8px;
  margin: 0px 8px;
}

.general-box3{
  height: 351px;
  width: 34%;
  background-color: #D7E5F4;
  border-radius: 8px;
  margin: 0px 6px;
}

}
