.mainContainer{
    //border: 2px solid black;
    display: flex;
    flex-direction: column;
    padding: 8px 16px;
    font-family: 'Rubik-regular';
    gap:8px;


        .innerContainer{
            //border: 2px solid red;
            input {
                background-color: #FFF8F0;
                width: 100%;
                border: none;
                text-align: right;
                padding: 8px;
                height: 37px;
                color: #2A526F;
                border-radius: 4px;
                // display: flex;
                // justify-content:space-between;
            }

        }

        .total-hours-container {
            background-color: white;
            border-radius: 4px;
            padding: 8px 24px;
            text-align: left;
        }


}
